body 
{
	font-family: Arial;
	color: white;
}

h1#card-name
{
	text-align: center;
	margin: 0px;
}

#card-name
{
	width: inherit;
	left:33%;
	right: 33%;
	min-height: 60px;
	position: absolute;

	background-color: rgba(0, 0, 0, 0.8);
}
