body 
{
	font-family: Arial;
	color: white;
}

h1#card-name
{
	text-align: center;
	margin: 0px;
}

#card-details
{
	width: inherit;
	left:33%;
	right: 33%;
	min-height: 90px;
	position: absolute;

	background-color: rgba(0, 0, 0, 0.8);
}

#card-name
{
	width: auto;
}

#card-price
{
	position: absolute;
	width: 50%;
	margin: 10px auto 0px 0px;
}

#card-level
{
	position: absolute;
	width: 50%;
	margin: 10px 0px 0px auto;
}
