#overlay-ui
{
	z-index: 100;
}

#scan-target
{
	position: absolute;

	top: 45%;
	bottom: 45%;
	left: 45%;
	right: 45%;
}

#scan-rect
{
	width: 100%;

	bottom: 5%;
}

#scan-text
{
	text-align: center;
	font-size: large;
	font-weight: bold;

	bottom: 0;
	height: 5%;
}